#export(check.params, find.cor.mat.star, genPBONN, lower.upper.cors, validate.cor.mat)
exportPattern("^[^\\.]")
import(corpcor, BB, MASS, GenOrd, Matrix)

importFrom("stats", "cor", "pnorm", "qpois", "rnorm", "rpois", "runif")
importFrom("utils", "combn")